includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
